
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #e9eff5, #303031);
    color: #f00f0f;
    font-family: 'Roboto', sans-serif;
  }
  
  app-root {
    flex: 1;
    display: flex;
    flex-direction: column;
  }