<div class="home-wrapper">
  <div class="home-container">
    <h1>Conversor de Moedas</h1>

    <p class="api-info">
      Foi utilizado nesse projeto
      <a href="https://app.exchangerate-api.com/dashboard" target="_blank">Exchangerate API</a>
      para acessar taxas de câmbio entre várias moedas.
    </p>

    <div class="features">
      <h3>Principais funcionalidades:</h3>
      <ul>
        <li>Conversão direta entre duas moedas</li>
        <li>Exibir taxas de câmbio atualizadas</li>
        <li>Integrar com a API de moedas para obter dados em tempo real</li>
      </ul>
    </div>
  </div>
</div>
